$brandBlue: #03a9f4;
$darkBlue:  #141e34;
$bluelight: #1d2b49;
$navText: #fcfcfc;
$gray: #f5f7fa;
$darkGray: #babbbe;
$text: #323b4e;
$green: #00c853;
$lightGreen: #7adfa6;
$linkBlue: #76d0f9;

// Animtation Timing

$time: .4s cubic-bezier(.25,.8,.25,1);