.cred-hat {
    display: flex;
    flex-direction: flex-start;
    .delete {
        cursor: pointer;
        opacity: 0;
        transition: opacity .35s ease-out, transform .25s ease;
        transform: translateX(-10px);
        &.open {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .btn {
        margin-left: auto;
        align-self: flex-end;
    }
}

.accounts-list { 
    max-width: 100%;
    margin: 0 auto;
    margin-top: 55px;
    font-size: 14px;
    padding: 0 75px;
    .accounts-head {
        display: table;
        table-layout: fixed;
        width: 100%;
        display: flex;
        width: 100%;
        justify-content: flex-start;
            & > div {
                padding: $listPad;
                display: flex;
                align-items: center;
                flex-grow: 1;
            text-transform: uppercase;
            color: #c0c0c0;
            font-weight: 500;
            i {
                vertical-align: inherit;
            }
        }
        & div:nth-of-type(1) {
            width: 100px;
            padding-left: 70px;
        }
        & div:nth-of-type(2) {
            width: 25%;
            padding-left: 15px;
        }
        & div:nth-of-type(3) {
            width: 25%;
            padding-left: 15px;
        }
        & div:nth-of-type(4) {
            width: 25%;
            padding-left: 15px;
        }
    }
    ul {
        margin: 0;
        padding:0;
        list-style: none;
        li {
            display: flex;
            width: 100%;
            border-top: 1px solid #c9c9c9;
            justify-content: flex-start;
            &:hover {
                background: #f1f1f1;
            }
            & > div {
                padding: $listPad;
                display: flex;
                align-items: center;
                flex-grow: 1;
            }
            & div:nth-of-type(1) {
                width: 100px;
                padding-left: 70px;
            }
            & div:nth-of-type(2) {
                width: 25%;
                padding-left: 15px;
            }
            & div:nth-of-type(3) {
                width: 25%;
                padding-left: 15px;
            }
            & div:nth-of-type(4) {
                width: 25%;
                padding-left: 15px;
            }
            i {
                font-size: 16px;
            }
            .account-name {
                font-weight: bold;
                text-transform: capitalize;
            }
        }
    }
    input[type="checkbox"] {
        display: none;
    }
    label {
            cursor: pointer;
            position: relative;
        &:before {
            content: '';
            display: inline-block;
            height: 15px;
            width: 15px;
            border: 1px solid #ccc;
        }
    }
        input[type="checkbox"]:checked+label {
        &:after {
            @extend .material-icons;
            content: 'check';
            background: rgba($brandBlue, .2);
            border: 1px solid rgba($brandBlue, .15);
            color: $brandBlue;
            font-size: 15px;
            position: absolute;
            left: 0px;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0px;
            left: 0px;
        }
    }
    .account-select {
        position: relative;
        i {
            position: absolute;
            left:0; 
            transform: translateY(15%);
            font-size: 24px;
            color: rgba(black, .25);
            cursor: pointer;
            top:3px;
            &:hover {
                color: rgba(black, .55);
            }
        }
    }

    .cred-create {
        overflow: hidden;
        max-height: 0px;
        transition: transform .35s ease, opacity .25s ease;
        opacity: 0;
        transform: translateY(100%);
        input {
            border:1px solid #ccc;
            padding: 10px; 
        }
        i {
            cursor: pointer;
        }
        &.active {
            max-height: 100px;
            opacity: 1;
            transform: translateY(0%);
            box-shadow: 0px 10px 10px -5px rgba(black, .15);
        }
    }
}