<aside class="meta-navigation" ng-controller="navCtrl">
   <header class="brand">
       <a href="index.html"><img src="img/WebySafeLogo.svg" title="WebySafe" /></a>
   </header>
   <div class="profile-ctrl">
       <div class="profile-frame">
           <img src="img/user.jpg" alt="">
       </div>
      <h2>Gina Bradford</h2>
       <i class="material-icons" ng-bind="'keyboard_arrow_down'" ng-click="dropOpen = !dropOpen"></i>
       <div class="prof-drop" ng-class="{'open': dropOpen}">
           <ul>
               <li><a href="index.html"  ng-click="dropOpen = !dropOpen"><i class="material-icons">exit_to_app</i>Log Out</a></li>
               <li><a ui-sref="profile"  ng-click="dropOpen = !dropOpen"><i class="material-icons">settings</i>Settings</a></li>
           </ul>
       </div>
   </div>
   <nav class="navigation">
       <header>
           <h2>My Account</h2>
       </header>
       <ul>
           <li ui-sref-active="active" ng-repeat="i in items">
                <a ui-sref="{{i.item | lowercase | spaceless}}"> 
                <i class="icon material-icons" v-text="icon">{{i.icon}}</i> 
                <h3>{{i.item}}</h3> 
            </a> 
        </li>
         <nav-item ng-repeat="i in items" :name="i.item" :icon="i.icon">

         </nav-item>
       </ul>
   </nav>
</aside>