<div class="profile">
<div class="top-hat">
    <div class="cred-hat">
        <button class="alerts icon-btn"><i class="material-icons">file_download</i></button>
        <button class="alerts icon-btn"><i class="material-icons">send</i></button>
        <button class="alerts icon-btn delete" ng-class="{'open': selected}" ng-click="showModal = true; modal = 'delete'"><i class="material-icons">delete</i></button>
        <button class="btn filled" ng-click="createCred = true">Create New</button>
    </div>
</div>
<div class="accounts-list">
    <header class="accounts-head">
        <div>  <input id="check-all" type="checkbox" select-all title="select all"> <label for="check-all"></label> </div>
        <div>Account <i class="material-icons">keyboard_arrow_down</i> </div>
        <div>Username</div>
        <div>Password</div>
        <div></div>
    </header> 
    <ul dnd-list="creds">
        <li  ng-repeat="c in creds" dnd-draggable="c" dnd-moved="creds.splice($index, 1)" dnd-selected="models.selected = c"  ng-class="{'selected': models.selected === c, 'cred-create active': isEdit === true}">
            <div class="account-select"><i dnd-handle class="material-icons">drag_handle</i><input id="{{'cred-' + $index}}" type="checkbox" /><label ng-click="selectItem(c);" for="{{'cred-' + $index}}"></label></div>
            <div class="account-name"><span ng-show="!isEdit">{{c.account}}</span> <input ng-model="c.account" ng-show="isEdit" placeholder="account name" type="text" ng-model="newName"></div>
            <div class="account-user"><span ng-show="!isEdit">{{c.username}}</span> <input ng-model="c.username" ng-show="isEdit" placeholder="username" type="text" ng-model="newUser"></div>
            <div class="account-password"><span ng-show="!isEdit">{{c.password}}</span> <input ng-model="c.password" ng-show="isEdit" placeholder="password" type="text" ng-model="newPass"></div>
            <div class="account-edit"><i ng-show="!isEdit" ng-click="isEdit = true" class="material-icons">mode_edit</i> <i ng-click="isEdit = false" ng-show="isEdit" class="material-icons">done</i></div>
        </li>
        <li class="cred-create" ng-class="{'active': createCred == true}">
            <div class="account-select"><i class="material-icons" title='close "new account" tool' ng-click="createCred = false">close</i><input id="{{'cred-' + $index}}" type="checkbox" /><label for="{{'cred-' + $index}}"></label></div>
            <div class="account-name"><input placeholder="account name" type="text" ng-model="newName"></div>
            <div class="account-user"><input placeholder="username" type="text" ng-model="newUser"></div>
            <div class="account-password"><input placeholder="password" type="text" ng-model="newPass"></div>
            <div class="account-edit"><i class="material-icons" ng-click="createCred = !createCred; createItem(newName,newUser,newPass); clearSearch();">done</i></div>
        </li>
    </ul>
</div> 
</div>


<div class="modal-wrap" ng-class="{'open': showModal}">
    <div class="modal">
        <header class="upload" ng-show="modal == 'upload'">
            <div>
                <i class="material-icons">description</i>
                <h2>Upload a Document</h2>
            </div>
        </header>
        <header class="delete" ng-show="modal == 'delete'">
            <div>
                <i class="material-icons">warning</i>
                <h2>Delete {{selected}} {{selected > 1 ? 'Credentials' : 'Credential' }}</h2>
            </div>
        </header>
        <main ng-show="modal == 'upload'">
            <input type="text" ng-model="itemName" placeholder="item title">
            <div class="upload">
                <p>Upload A Document</p>
            </div> 
        </main>
        <main ng-show="modal == 'delete'">
            <p class="warning">Warning: this cannot be undone.</p>
            <div class="accept">
                <input type="checkbox" id="accept" ng-click="deleteAccept = !deleteAccept" ng-checked="deleteAccept">
                <label for="accept">I understand that deleting {{selected > 1 ? 'these credentials' : 'this credential' }} will also delete all of its contents.</label> 
            </div>
        </main>
        <footer class="upload" ng-show="modal == 'upload'">
             <button class="btn filled action" ng-class="{'open': itemName.length > 0}" ng-click="showModal = false; newItem(currentList, itemName)">Add Document</button>
             <button class="btn btn-close" ng-click="showModal = false">Cancel</button>
        </footer>

        <footer class="delete" ng-show="modal == 'delete'">
             <button class="btn filled action" ng-class="{'open': deleteAccept == true}"  ng-click="deleteAccept = false; deleteItems(creds); showModal = false;">Yes, Delete</button>
             <button class="btn btn-close" ng-click="showModal = false">Cancel, Keep Document</button>
        </footer>
    </div>
</div>